
<h3>Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>

  <label for="major">
    Major <br>
    <select class="input-custom" id="major" [formControlName]="'major'">
      <option id="selmaj" value="">--select a major--</option>
       <option value="GE">General Engineering</option>
      <option value="CS">Computer Science</option>
      <option value="GB">General Business</option>
      <option value="IT">Information Technology</option>

    </select>
  </label>
  <br>
<!-- creat a select for the student  -->
  <label for="student">
    Student <br>
    <select class="input-custom" name="StudentID-field" id="studentID" [formControlName]="'studentID'">
      <option id="selmaj" value="">--select a student--</option>
      <option *ngFor="let student of studentList" [value]="student.id">{{student.id}} {{student.name}} {{student.surname}}</option>
    </select>

  </label>

  <br>


  <button  type="submit" class="btn-custom" (click)="addTicket()">Create</button>
</form>

<!-- Uncomment below to see your form structure and how it changes-->
<br>{{ticketForm.getRawValue() | json}}<br>
